@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   
    <h1 class="display-4">Here are some of my favorite books, what are yours?</h1> 
    <h4>Click on "Books" to view and add more...</h4>
    <p> "... Because reading is fundamental"</p>
    
</div>

